.KeywordSearchInput input {
  height: 54px;
  width: 302px;
}

.reset--btn {
    margin-top: 20px;
    color: #DA0064;
    border: solid #DA0064 4px;
    height: 50px;
    width: 125px;
    background-color: transparent; 
    margin-bottom: 20px;
}

::placeholder {
  margin-left: 10px;
}

.reset--btn:disabled {
  margin-top: 20px;
    color: grey;
    border: solid grey 4px;
    height: 50px;
    width: 125px;
    background-color: transparent; 
}

.search--btn {
  background-color: #DA0064
}

.search--btn:disabled {
  background-color: rgb(192, 192, 192);
}

.filterByTitle--input {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  // padding-left: 15px;
}

.SearchTitle--input {
  padding-left: 15px;
  font-size: large;
}