.LogoutButton {
  display: flex;
  align-self: flex-end;
  justify-content: space-around;
  align-items: space-around;
  height: 20px;
  width: 95px;
  background-color: transparent; 
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  padding: 1px 6px;
  margin: 4px;
  margin-top: 10px;
  color: white;
  border: none;
  background-color: #DA0064; 
  cursor: pointer;
  border-radius: 4px;
}

.logout--text {
  flex: 1;
  font-size: .8em;
}

.logout--container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logout--icon {
  flex: 1;
  width: .2em;
  padding: 0px;
  margin: 0px;
}

.MuiSvgIcon-root {
  width: .2em;
}