.Comment--container {
  border-top: solid #E6E6E6 2px;
  margin: 25px 5% 10px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.UserNameAndDate--container {
  // border: solid black 2px;
  width: 70%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.user--span {
  margin-top: 15px;
}

.CommentText--p {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #928f8f;
  padding: 20px;
  overflow: scroll;
  color: white;
  border-radius: 15px;
  max-width: 925px;
  box-shadow:  5px 5px 15px #d4d3d3,
              -5px -5px 15px #ffffff;
}

.CommentVoteBox--container {
  width: 85%;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width: 800px) {
  .Comment--container {
    margin: 25px 20% 10px 20%;
  }

  .CommentText--p {
    margin-left: 3%;
    margin-right: 3%;
    text-align: left;
  }
}