.Footer {
  position: absolute;
  // top: 850px; 
  margin-top: 10px;
  min-width: 100%;
  background-color: #a4a6a6;
  padding-bottom: 20px;
}

.footer--font{
  color: white;
}

.Footer h1 {
  font-size: 1.2em;
}

.footer--title {
  // color: #DA0064
}

.mission--text{
  width: 80%;
  margin: 0 auto;
}