.Header--container {
  // border: solid blue 3px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.BottomBorder--border {
  border-bottom: solid #E6E6E6 2px;
  width: 50%;
}

.Logo--image {
  // border: solid red 3px;
  height: 50px;
  width: 50px;
  margin-left: 5px;
}

.logo--landing-page {
  // position: absolute;
  // top: 30px; 
  // left: 400px;
  height: 50px;
  width: 50px;
  // margin-right: 20px;
  margin-top: 10px;
}

.HeaderTitle--h1 {
  // font-size: 16px;
  width: 100%;
}

.heading--container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.letter-standout {
  color: #DA0064
}

@media screen and (min-height: 1000px) {

  .Header--container {
    height: 150px;
  }

}