.ask-link {
 text-decoration: none;
}

.ask--btn {
  color: #DA0064;
  border: solid #DA0064 4px;
  height: 50px;
  width: 125px;
  background-color: transparent; 
  font-size: large;
  cursor: pointer;
}

// .LandingPage h2 {
//   font-size: .8em;
// }

.landingPage--h2 {
  font-size: 1.18em;
}

.LandingPage {
  display: flex;
  flex-direction: column;
  align-content: center;
  margin: 35px;
}

@media screen and (max-width: 700px) {

  .LandingPage {
    margin: 4%;
  }
}