.Header {
  height: 10vh;
}

.NewQuestion--container {
  // border: solid orange 5px;
  min-height: 85vh;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.QuestionForm--form {
  // border: dotted black 3px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 500px;
  
}

.InputLabel--label {
  margin-bottom: 10px;
}

.TitleInput--container {
  // border: solid blue 2px;
  // margin-top: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.TitleInput--input {
  width: 85%;
  height: 35px;
  font-size: large;
  text-align: center;
}

.BodyInput--container {
  // border: solid green 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BodyInput--textarea {
  width: 95%;
  height: 110px;
  padding: 15px 10px 10px 10px 
}

// .TagInput--container {
//   // border: solid red 3px;
// }

.TagInputAndButton--container {
  // border: solid blue 2px;
  display: flex;
  justify-content: center;
}

.TagInput--input {
  width: 50%;
  height: 35px;
  padding-left: 5px;
  margin-top: 10px;
  font-size: large;
}

.AddTag--button {
  margin-top: 10px;
  margin-left: 10px;
  color: white;
  border: none;
  border-radius: 8%;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #14CDD4;
  font-size: large;
}

.FormButtons--container {
  // border: solid black 2px;
  min-width: 150px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.BackHomeButton--btn {
  color: white;
  border: none;
  height: 50px;
  width: 125px;
  background-color: #14CDD4
}