.Header {
  height: 12vh;
}

.NewQuestion--container {
  border: solid orange 5px;
  min-height: 75vh;
  margin-right: 5%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
}

.ProgressBar--container {
  border: solid green 3px;
  height: 60px;
}

.QuestionForm--form {
  border: dotted black 3px;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.TitleInput--container {
  border: solid blue 2px;
  margin-top: 10%;
  display: flex;
  flex-direction: column;
}

.BodyInput--container {
  border: solid green 3px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.BodyInput--textarea {
  width: 75%;
  height: 70px;
}

.TagInput--container {
  border: solid red 3px;
}

.TagInputAndButton--container {
  border: solid blue 2px;
  display: flex;
  justify-content: center;
}

.FormButtons--container {
  border: solid black 2px;
  min-width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}