.QuestionCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 100%;
  margin: 15px;
  align-items: flex-start;
  // align-content: center;
  background-color: white;
  border-radius: 6px;
  border-left: solid #d44c8b 5px;
  background: linear-gradient(145deg, #f0f0f0, #fbf8f8);
  box-shadow:  5px 5px 15px #ecebeb,
              -5px -5px 15px #ffffff;
  font-size: 1.2em;
  transition: all 0.5s ease;
  padding: 10px;
}

// .QuestionCard:hover {
//   transform: scale(1.015);
//   box-shadow:  7px 7px 12px #ecebeb,
//               -7px -7px 12px #ffffff;
// }

.TitleAndBodyBox--container {
  // border: solid black 1px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.questionCardTitle--h2 {
  font-size: 1.1rem;
  margin: 5px 0px;
}

.questionCardBody--p {
  font-size: 0.9rem;
  margin: 5px 0px;
}

.response-count {
  font-size: 1rem;
  margin: 0;
}

.read--btn {
  color: white;
  border: none;
  height: 50px;
  width: 125px;
  background-color: #14CDD4;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.read--btn:hover {
  // border: solid #d44c8b 1px;
  // transform: scaleX(1.05);
  // width: 130px;
  background-color: #5bd2d6;
}

.detail {
  font-size: .5em;
  margin: 0;
}

.person-title {
  display: inline;
  border-bottom: solid #d4d1d1 2px;
}

.user--span {
  display: flex;
  align-self: flex-start;
  display: space-between;
  margin: 0;
}

.DetailsAndButtonBox--container {
  // border: solid black 1px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.DetailsBox--container {
  // border: solid black 1px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}



@media screen and (max-width: 1170px ) {
  .QuestionCard {
    width: 100%;
    margin-left: 5px;
    margin-right: 5px;
  }
}