.QuestionCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 45%;
  margin: 15px;
  align-items: center;
  align-content: center;
  background-color: white;
  border-radius: 6px;
  background: linear-gradient(145deg, #f0f0f0, #fbf8f8);
  box-shadow:  5px 5px 15px #ecebeb,
              -5px -5px 15px #ffffff;
  font-size: 1.2em;
  transition: all 0.9s ease;
  padding: 5px;
}

.QuestionCard:hover {
  transform: scale(1.015);
  box-shadow:  7px 7px 12px #ecebeb,
              -7px -7px 12px #ffffff;
}

.read--btn {
  color: white;
  border: none;
  height: 50px;
  width: 125px;
  background-color: #14CDD4;
  margin: 10px;
  border-radius: 6px;
  cursor: pointer;
}


.detail {
  font-size: .5em;
}

.person-title {
  display: inline
}

.user--span {
  display: flex;
  align-self: flex-start;
  display: space-between;
}

@media screen and (max-width: 700px ) {
  .QuestionCard {
    width: 100%
  }
}