.QuestionDetails {
  border: 6px solid green
}

.LinksContainer--container {
  // border: solid orange 2px;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.AskButtonLink--button {
  color: #DA0064;
  border: solid #DA0064 4px;
  height: 50px;
  width: 75px;
  background-color: transparent; 
  font-size: large;
}

.BackButtonLink--button {
    color: white;
    border: none;
    height: 50px;
    width: 75px;
    background-color: #14CDD4;
    font-size: large;
}

// .LogoLink--image {
//   height: 50px;
//   width: 50px;
// }

.BodyText--p {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #E6E6E6;
  padding: 20px;
 
}

.VoteBox--container {
  // border: solid blue 2px;
  margin: 10px 5% 10px 5%;
  display: flex;
  justify-content: space-around;
}

.UpVote--button {
  color: #75D34D;
  border: solid #75D34D 4px;
  border-radius: 12px;
  height: 50px;
  width: 125px;
  background-color: transparent; 
  font-size: large;
}

.DownVote--button {
  color: red;
  border: solid red 4px;
  border-radius: 12px;
  height: 50px;
  width: 125px;
  background-color: transparent;
  font-size: large;
}

@media screen and (min-width: 800px) {

  .AskButtonLink--button {
    width: 125px;
  }
  
  .BackButtonLink--button {
      width: 125px;
  }

  .BodyText--p {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
  }

  .VoteBox--container {
    margin: 10px 25% 10px 25%;
  }

}