.QuestionDetails {
  // border: 6px solid green
  // display: flex;
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;
}

.LinksContainer--container {
  // border: solid orange 2px;
  width: 90%;
  display: flex;
  justify-content: space-between;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 2%;
}

.AskButtonLink--button {
  color: #DA0064;
  border: solid #DA0064 4px;
  height: 50px;
  width: 75px;
  background-color: transparent; 
  font-size: large;
}

.BackButtonLink--button {
  color: white;
  border: none;
  height: 50px;
  width: 75px;
  background-color: #14CDD4;
  font-size: large;
}

.QuestionHeader--container {
  // border: solid black 2px;
  margin-left: 10%;
  margin-right: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.BodyText--p {
  margin-left: 5%;
  margin-right: 5%;
  background-color: #E6E6E6;
  padding: 20px;
 
}

.VoteBox--container {
  // border: solid blue 2px;
  margin: 10px 5% 10px 5%;
  display: flex;
  justify-content: space-around;
}

@media screen and (min-width: 800px) {

  .AskButtonLink--button {
    width: 125px;
  }
  
  .BackButtonLink--button {
      width: 125px;
  }

  .QuestionHeader--container {
    // border: solid black 2px;
    margin-left: 20%;
    margin-right: 20%;
  }

  .BodyText--p {
    margin-left: 15%;
    margin-right: 15%;
    text-align: left;
  }

  .VoteBox--container {
    margin: 10px 25% 10px 25%;
  }

}