.QuestionCard {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 47%;
  margin: 15px;
  align-items: center;
  align-content: center;
  background-color: white;
  border-radius: 6px;
  background: linear-gradient(145deg, #f0f0f0, #fbf8f8);
  box-shadow:  5px 5px 10px #b8b8b8,
              -5px -5px 10px #ffffff;
  font-size: 1.2em;
}

.read--btn {
  color: white;
  border: none;
  height: 50px;
  width: 125px;
  background-color: #14CDD4;
  margin: 10px;
  border-radius: 6px;
}

.detail {
  font-size: .5em;
}

.person-title {
  display: inline
}

.user--span {
  display: flex;
  align-self: flex-start;
  display: space-between;
}

@media screen and (max-width: 700px ) {
  .QuestionCard {
    width: 100%
  }
}