.FormSubmitButton--btn {
  color: #DA0064;
  border: solid #DA0064 4px;
  height: 50px;
  width: 125px;
  background-color: transparent; 
  cursor: pointer;
}
.submissionModal--container {
  border-radius: 4px;
}

.ModalButtons--container {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.SubmitButtonText--span {
  font-size: large;
}

.BackButtonText--span {
  font-size: large;
}

#modal-modal-title {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  text-align: center;
  background-color: #E6E6E6;
  padding: 10px;
}

#modal-modal-description {
  display: flex;
  justify-content: center;
  align-items: center;
}