.QuestionTags--container {
  margin-left: auto;
  margin-right: auto;
  // border: solid purple 3px;
  background-color: #F2F1F7;
  width: 95%;
  max-height: 100px;
  min-height: 50px;
  overflow-x: scroll;
  display: inline-flex;
  justify-content: flex-start;

}

.UserTagPill--container {
  border: solid  2px;
  border-color: rgb(177,174,204);
  height: 25px;
  padding: 5px;
  border-radius: 100px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.UserTagPill--text {
  margin: 5px;
  color: #B4DADA;
}

.AddTag--button {
  margin-right: 5px;
  margin-left: 5px;
  
}