.QuestionTags--container {
  margin-left: auto;
  margin-right: auto;
  // border: solid purple 3px;
  background-color: #F2F1F7;
  width: 95%;
  height: 50px;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
}

.UserTagPill--container {
  border: solid  2px;
  border-color: rgb(177,174,204);
  height: 25px;
  padding: 5px;
  border-radius: 100px;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  margin: 5px;
}

.UserTagPill--text {
  margin: 5px;
  color: #183e3e;
}

.RemoveTag--button {
  margin-right: 5px;
  background-color: transparent;
  border: none;
  color: #865A89;
  font-size: larger;
}

