.UpVote--button {
  color: #75D34D;
  border: solid #75D34D 4px;
  border-radius: 12px;
  height: 50px;
  width: 125px;
  background-color: transparent; 
  font-size: large;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.UpVote--button:hover {
  transform: scaleY(1.05);
  // border: solid #75D34D 2px;
}