.QuestionCard {
  display: flex;
  flex-direction: column;
  margin: 20px;
  align-content: center;
}

.read--btn {
  color: white;
  border: none;
  height: 50px;
  width: 125px;
  background-color: #14CDD4
}